.productcontainer{
    width: 100%;
    
    
}
.containerinifinity{
    padding: 10px 0 10px 0;
    border: 0.5px #000 solid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    
}
.purchaseprice{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: aqua;
    text-align: center;
    
}
.purchasedetails{
    border: 0.5px #000 solid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.combo{
    margin: 10px 0 10px 0;
}
.containerblock{
    width: 90%;
    margin: auto;
    
}
.containerblock>.img{
    background-image: url(product3.jpg);
    background-position: top;
    background-size: cover;
    height: 300px;
    margin: 10px auto 10px auto;
}




@media only screen and (max-width: 600px) {
    [class*="col-"] {
       width: 100%;
     }
     .container-2{
         margin-top: 0;
     }
     #logo{
       position: absolute;
       top: 40%;
       left: 50%;
       transform: translate(-50%,-50%);
     }
     ul{
       position: absolute;
       top: 80%;
       left: 0%;
       transform: translate(0%,-50%);
     }
     nav{
         height: 100px;
     }
    
   }
     
     @media only screen and (min-width: 600px )and (max-width : 767px) {
       /* For tablets: */
       .col-s-1 {width: 8.33%;}
       .col-s-2 {width: 16.66%;}
       .col-s-3 {width: 25%;}
       .col-s-4 {width: 33.33%;}
       .col-s-5 {width: 41.66%;}
       .col-s-6 {width: 50%;}
       .col-s-7 {width: 58.33%;}
       .col-s-8 {width: 66.66%;}
       .col-s-9 {width: 75%;}
       .col-s-10 {width: 83.33%;}
       .col-s-11 {width: 91.66%;}
       .col-s-12 {width: 100%;}
       #logo{
           position: absolute;
           top: 40%;
           left: 50%;
           transform: translate(-50%,-50%);
         }
         ul{
           position: absolute;
           top: 80%;
           left: 0%;
           transform: translate(0%,-50%);
           width: auto;
   
         }
         nav{
             height: 100px;
         }
      
       
     }
     
     @media only screen and (min-width: 768px) {
       /* For desktop: */
       .col-1 {width: 8.33%;}
       .col-2 {width: 16.66%;}
       .col-3 {width: 25%;}
       .col-4 {width: 33.33%;}
       .col-5 {width: 41.66%;}
       .col-6 {width: 50%;}
       .col-7 {width: 58.33%;}
       .col-8 {width: 66.66%;}
       .col-9 {width: 75%;}
       .col-10 {width: 83.33%;}
       .col-11 {width: 91.66%;}
       .col-12 {width: 100%;}
       .container2{display: flex;}
       .pcont{display: flex;}
       .productcontainer{
        display: grid;
        grid-area: 10px;
        grid-template-columns: 70% 30%;
        grid-template-rows: 50px 250px auto;
       }
     } 
   