*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg,rgba(204, 57, 12, 0.924),rgba(223, 191, 11, 0.897));
    background-size: cover;

}
div{
    border-radius: 10px;
    margin: 5px;
    position: relative;
}
#container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 60px auto;
    width: 350px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#container2{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 60px;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: black;
}
.s{
    
    background-color: black;
}
p{
    color: white;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 2px;
    left: 5px;
    margin: 0px;
}
.mm{
    background-color: white;
    margin: 8px;
}
.white{
    color: black;
}
#b{
    background-color: black;
}