*{
    box-sizing: border-box;
    padding: 5px;
}
#container1{
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-style: solid;
    padding: 0;
    
}
h1{
    background-color: rgb(201, 14, 218);
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    height: 60px;
} 

#articles{
    display: flex;
}
.art{
    background-color: aqua;
    margin: 5px;
    width: 100%;
}
#art3{
    display: flex;
    flex-direction: column;
   
}
#btncontainer{
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
}
.btn{
    width: 100%;
}


/* second container */

#container2{
    display: flex;
    flex-direction: column;
    border-width: 2px;
    border-style: solid;
    margin-top: 20px;
    border-style: dotted;

}
.rr{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2px;
   

}
#head2{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
   
}

.r{
    background-color: rgba(240, 71, 113, 0.897);
    text-align: center;
    color: aliceblue;
    margin: 5px;
    width: 100%;
}
.r1{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}