
header #navbarSupportedContent{
    display: grid;
    justify-content: end;
    
   
}

@media only screen and (max-width: 599px) {
    header{
        padding-right: 20px;
    }
    ul{
        
        margin-left: -50px !important;
        
    }
}